body {
  margin: auto;
  font-family: Lato, sans-serif !important;
}

td, th {
  padding-left: 1em !important;
}

input {
  border: none !important;
  margin-left: 1em;
  font-weight: normal;
}

.navbar {
  font-size: 16px;
  font-weight: 300;
}

.navbar-logo {
  background-image: url(https://www.wagonhq.com/images/logo-mono.png);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 58px 30px;
  display: inline;
  margin-right: 15px;
  padding-bottom: 15px;
  padding-left: 31px;
  padding-right: 30px;
  padding-top: 15px;
}

h2 {
  box-sizing: border-box;
  color: rgb(24, 60, 105);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 34px;
  font-weight: 500;
  height: 30px;
  line-height: 30.6px;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}
